name: Pull Requests

on:
  pull_request:
    types: [opened]

jobs:
  if_body_empty:
    runs-on: ubuntu-latest
    steps:
    - uses: superbrothers/close-pull-request@v2
      if: ${{ github.event.pull_request.body == "" }}
      with:
        comment: "We do not accept PRs. If you have any questions, please feel free to contact us."
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}